# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

web/node_modules
web/.pnp
web/.pnp.js
web/coverage
web/.next
web/.next/
web/out/
web/build
web/.DS_Store
web/*.pem
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/.env
web/.vercel

whastapp/.env